{% block main %}

<div class="container mt-3 mb-3">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-10">
            <h1>Rules</h1>
        </div>
    </div>
</div>
<div class="container mt-3 mb-3">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-10">
            <h1 id="what-is-allowed">
                <a class="header-link" href="#what-is-allowed" title="Permalink to this header">What is allowed?</a>
            </h1>
            <ul class="list-group">
                {% for rule in allowed_rules %}
                    <li class="list-group-item">
                        <span>- {{ rule.name }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="container mt-3 mb-3">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-10">
            <h1 id="what-is-not-allowed">
                <a class="header-link" href="#what-is-not-allowed" title="Permalink to this header">What is NOT allowed?</a>
            </h1>
            <ul class="list-group">
                {% for rule in not_allowed_rules %}
                    <li class="list-group-item">
                        <span>- {{ rule.name }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="container mt-3 mb-3">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-10">
            <h1 id="but-what-if">
                <a class="header-link" href="#but-what-if" title="Permalink to this header">But What If?</a>
            </h1>
            <ul class="list-group">
                {% for whatif in but_what_if%}
                    <li class="list-group-item">
                        <span>- {{ whatif.name }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
