{% block main %}

<div class="container mt-3 mb-3">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-10">
            <h1>Rules</h1>
        </div>
    </div>
</div>
<div class="container mt-3 mb-3">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-10">
            <h1>What is allowed?</h1>
            <ul class="list-group">
                {% for rule in allowed_rules %}
                    <li class="list-group-item">
                        <span>- {{ rule.name }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="container mt-3 mb-3">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-10">
            <h1>What is NOT allowed?</h1>
            <ul class="list-group">
                {% for rule in not_allowed_rules %}
                    <li class="list-group-item">
                        <span>- {{ rule.name }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="container mt-3 mb-3">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-10">
            <h1>But What If?</h1>
            <ul class="list-group">
                {% for whatif in but_what_if%}
                    <li class="list-group-item">
                        <span>- {{ whatif.name }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
