{% block main %}

<div class="container mt-3 mb-3">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-10">
            <h1 id="cool-stats">
                <a class="header-link" href="#cool-stats">Cool Stats</a>
            </h1>
            <div class="row justify-content-center mb-4">
                <div class="col-md-3 mb-4">
                    <div class="text-center d-flex flex-column justify-content-center align-items-center py-3">
                        <div class="d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2">
                            <div class="feature-icon text-bg-dark d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" width="50%" height="50%" fill="currentColor" class="bi bi-smartwatch" viewBox="0 0 16 16">
                                    <path d="M9 5a.5.5 0 0 0-1 0v3H6a.5.5 0 0 0 0 1h2.5a.5.5 0 0 0 .5-.5z"/>
                                    <path d="M4 1.667v.383A2.5 2.5 0 0 0 2 4.5v7a2.5 2.5 0 0 0 2 2.45v.383C4 15.253 4.746 16 5.667 16h4.666c.92 0 1.667-.746 1.667-1.667v-.383a2.5 2.5 0 0 0 2-2.45V8h.5a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5H14v-.5a2.5 2.5 0 0 0-2-2.45v-.383C12 .747 11.254 0 10.333 0H5.667C4.747 0 4 .746 4 1.667M4.5 3h7A1.5 1.5 0 0 1 13 4.5v7a1.5 1.5 0 0 1-1.5 1.5h-7A1.5 1.5 0 0 1 3 11.5v-7A1.5 1.5 0 0 1 4.5 3"/>
                                </svg>
                            </div>
                        </div>
                        <div class="px-3 mt-2">
                        {% if play_time >= 24 %}
                            <h4 class="fw-bold mb-0">{{ (play_time / 24)|format_number({fraction_digit: 2}) }} days</h4>
                        {% else %}
                            <h4 class="fw-bold mb-0">{{ play_time }} hours</h4>
                        {% endif%}
                            <p class="mb-0">Total Play Time</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="text-center d-flex flex-column justify-content-center align-items-center py-3">
                        <div class="d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2">
                            <div class="feature-icon text-bg-dark d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" width="50%" height="50%" fill="currentColor" class="bi bi-person-fill-up" viewBox="0 0 16 16">
                                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.354-5.854 1.5 1.5a.5.5 0 0 1-.708.708L13 11.707V14.5a.5.5 0 0 1-1 0v-2.793l-.646.647a.5.5 0 0 1-.708-.708l1.5-1.5a.5.5 0 0 1 .708 0M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                    <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                                  </svg>
                            </div>
                        </div>
                        <div class="px-3 mt-2">
                            <h4 class="fw-bold mb-0">{{ adventure_level }}</h4>
                            <p class="mb-0">Highest Level</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="text-center d-flex flex-column justify-content-center align-items-center py-3">
                        <div class="d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-2">
                            <div class="feature-icon text-bg-dark d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" width="50%" height="50%" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                                    <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41m-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9"/>
                                    <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5 5 0 0 0 8 3M3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9z"/>
                                </svg>
                            </div>
                        </div>
                        <div class="px-3 mt-2">
                            <h4 class="fw-bold mb-0">{{ attempts }}</h4>
                            <p class="mb-0">Total Attempts</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
