{% block main %}

<div class="container mt-3 mb-3">
    <div class="row justify-content-center mb-4">
        <div class="col-lg-8 col-xl-10">
            <h1>
                <a class="header-link" href="">Admin</a>
            </h1>
            <ul class="list-group">
                <li class="list-group-item">
                    <a class="list-group-link" href="/admin/update_attempt">Update Attempt</a>
                </li>
                <li class="list-group-item">
                    <a class="list-group-link" href="/admin/new_attempt">New Attempt</a>
                </li>
                <li class="list-group-item">
                    <a class="list-group-link" href="/admin/new_character">New Character</a>
                </li>
            </ul>
        </div>
    </div>
</div>

{# <div class="container mt-3 mb-3">
    <div class="row justify-content-center mb-4">
        <div class="col-lg-8 col-xl-10">
            <ul class="nav nav-tabs nav-fill" id="adminTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" href="#update-attempt" id="update-attempt" data-bs-toggle="tab" data-bs-target="#update-attempt-pane" role="tab">Update Attempt</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="#new-attempt" id="new-attempt" data-bs-toggle="tab" data-bs-target="#new-attempt-pane" role="tab">New Attempt</a>
                </li>
            </ul>
            <div class="tab-content" id="adminTabsContent">
                <div class="tab-pane fade show active" id="update-attempt-pane" role="tabpanel" tabindex="0"></div>
                <div class="tab-pane fade" id="new-attempt-pane" role="tabpanel" tabindex="0"></div>
            </div>
        </div>
    </div>
</div> #}

{% endblock %}
