{% block main %}

<div class="container mt-3 mb-3">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-10">
            <h1>Players</h1>
        </div>
    </div>
</div>
<div class="container mt-3 mb-3">
    {% for player in players %}
        <div class="row justify-content-center mt-3 mb-3">
            <div class="col-lg-8 col-xl-10">
                <div class="card">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img">
                        {% if player.profile is empty %}
                            <rect width="100%" height="100%" fill="#868e96"></rect>
                        {% else %}
                            <img src="{{ player.profile }}" width="100%" height="100%" />
                        {% endif %}
                    </svg>
                    <div class="card-body">
                        <h4 class="card-title">{{ player.name }}</h4>
                        <p class="card-text">{{ player.bio }}</p>
                        <a class="btn btn-primary" type="button" href="/players/{{ player.id }}">Go</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
