{% block main %}

<div class="container mt-3 mb-3">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-10">
            <p class="fw-bold text-center text-light-emphasis mb-2">Proud to introduce...</p>
            <h1 class="fw-bold text-center mb-4">Logicnow's</h1>
            <h1 class="fw-bold text-center mb-4">Hardcore New World Tracker</h1>
        </div>
    </div>
</div>
<div class="container mt-3 mb-3">
    <div class="row justify-content-center mt-3 mb-3">
        <div class="col-lg-8 col-xl-10">
            <h1>Who is participating?</h1>
            <p>Check out the active participants, what's happening in their current attempt, and any previous attempts they have.</p>
            <a class="btn btn-primary fs-5 py-2 px-4" role="button" href="/players">Players</a>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-3">
        <div class="col-lg-8 col-xl-10 mt-3">
            <h1>What are the rules?</h1>
            <p>View what you can and cannot do during this hardcore playthrough.</p>
            <a class="btn btn-primary fs-5 py-2 px-4" role="button" href="/about">About</a>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-3">
        <div class="col-lg-8 col-xl-10 text-start mt-3">
            <h1>Have questions?</h1>
            <p>Send me an email with feature requests, bugs, or anything else.</p>
            <a class="btn btn-primary fs-5 py-2 px-4" role="button" href="/contact">Contact</a>
        </div>
    </div>
</div>

{% endblock %}
